# Bibliothèques principales
pyrogram
tgcrypto
pymongo
motor
marshmallow
umongo
requests
bs4
shortzy
datetime
pytz
aiohttp
aiofiles
uvloop
httpx
telethon

# Bibliothèques pour le traitement vidéo/audio
opencv-python-headless>=4.7.0.68
ffmpeg-python>=0.2.0
moviepy==1.0.3
pydub
gtts
SpeechRecognition
yt-dlp
pytube
youtube-search-python
youtube-dl
YoutubeTags
ytthumb
pafy

# Bibliothèques pour les API et services externes
SafoneAPI
MukeshAPI
HorridAPI
lexica-api
google-generativeai
googlesearch-python
spotipy
scdl
shazamio
telegraph
PyPDF2
pypdf
Faker
jikanpy==4.3.2
html2text==2024.2.26
secureme==0.0.4
gpytranslate
googletrans
openai
IMDbPY
youtube-search


# Bibliothèques utilitaires
python-dotenv==0.21.1
speedtest-cli
humanize==4.6.0
Pillow
psutil==5.9.4
numpy
wheel
ujson
wget
dnspython==2.3.0
python-decouple
jinja2
apscheduler
pyshorteners
colorama
search_engine_parser
countryinfo
python-math
python-dateutil
chardet
urllib3
pycryptodomex
six
tqdm
discord
gitpython
pyromod==1.5
pyfiglet

# Bibliothèques pour Telegram
python-telegram-bot>=20.0  # Ajout de python-telegram-bot

# Dépendances optionnelles ou alternatives
# Telethroid==0.0.10  # (Optionnel, si nécessaire)
# PyLeaves==1.0.2     # (Optionnel, si nécessaire)